ACTIVITY_DB_HOST=postgres-activity
ACTIVITY_DB_PORT=5432
ACTIVITY_DB_NAME=activity_db
ACTIVITY_DB_USER=postgres
ACTIVITY_DB_PASSWORD=postgres123

ACTIVITY_DATABASE_URL=postgresql+asyncpg://postgres:postgres123@postgres-activity:5432/activity_db

CHAT_DB_HOST=postgres-chat
CHAT_DB_PORT=5432
CHAT_DB_NAME=chat_db
CHAT_DB_USER=postgres
CHAT_DB_PASSWORD=postgres123

CHAT_DATABASE_URL=postgresql+asyncpg://postgres:postgres123@postgres-chat:5432/chat_db