# Flutter generated
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache
**/.packages
**/build/

# Android
**/android/.gradle/
**/android/.kotlin/
**/local.properties

# iOS
**/ios/Flutter/ephemeral/
**/ios/Pods/

# mac/linux/windows generated
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
**/macos/Flutter/ephemeral/