# Python
timeless/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
dist/
*.egg
Структура.md

# Virtual environment
venv/
.venv/
env/

# Environment
.env

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Flutter generated
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache
**/.packages
**/build/

# Flutter generated plugin registrants
**/flutter/generated_plugin_registrant.cc
**/flutter/generated_plugin_registrant.h
**/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/android/**/GeneratedPluginRegistrant.java

# iOS generated
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Pods/

# Android
**/android/.gradle/
**/android/.kotlin/
**/local.properties

# mac/linux/windows generated
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
**/macos/Flutter/ephemeral/